<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>shortcuts.png</string>
			<key>Shell Script File</key>
			<string>SendToShortcut.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>Send to Shortcut</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Sends the selected text to the Shortcut</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.sendtoshortcut</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>sendtoshortcut</string>
		<key>fr</key>
		<string>Lire</string>
	</dict>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
